# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# FastF1 cache
cache/
*.sqlite
fastf1_http_cache.sqlite
fastf1_cache.sqlite

# Streamlit logs
.streamlit/

# Data
data/*.csv
data/*.parquet
data/*.json

# OS files
.DS_Store
Thumbs.db